 header {   background-color:rgb(255,255,255);
     background-image: url(../images/forest.jpeg);

}
nav {
    background-color:blue   
   
}
main {
    background-color:rgb(255,0,0)
}
ul {background-color:rgb 255,255,255;
}
li {
}
footer{
    background-color:black;
    color:white;