/*css*/

     {
            font-family: Arial, sans-serif;
            margin: 20px;
            padding: 0px;
            box-sizing:border-box;
            background-image:url(../images/forest.jpeg);
            background-size:cover;
            background-attachment:fixed;
            background-repeat:none;
        }
        nav {
            display:flex;
            flex-wrap:wrap;
        }
        nav p {
            display: flex;
            flex-grow:1;
            justify-content: center;

        }
        header {
            background-color:rgb(255,255,255);body,headermain
        
        }
        header-image{img src="fetch.jpg" alt="Robin Hood" height="200px";
    }
.container{display:grid;
grid-template-columns:repeat(8,1fr);
gap:1rem;
padding 1rem};
}background-color:white;
border-radious